@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 400;

}

.callsTable {
  display: grid;
  grid-template-columns:
    minmax(36px, 1fr)
    minmax(60px, 2fr)
    minmax(60px, 2fr)
    minmax(60px, 10fr)
    minmax(20px, 6fr)
    minmax(30px, 30fr)
    minmax(30px, 20fr)
    minmax(30px, 20fr)
    minmax(30px, 40fr);
}
